<div>
  <h1>All Challenges</h1>
  <%# link_to "Make a New Challenge", new_challenge_path %>
</div>

<ol>
<% @challenges.each do |c| %>
  <li><%= link_to c.name, challenge_path(c) %></li>
  <ol>
<% end %>
