



<div class="container" style="padding-top:60px">
  <%# link_to "Make a New Challenge", new_challenge_path %>

  <% @challenges.each do |c| %>
    <div class="container">
      <h2><%= link_to c.name, challenge_path(c) %></h2>
    </div>
  <% end %>
</div>
