

<div class="container" style="padding-top:60px; padding-bottom:60px">

  <!-- <% if flash[:message] %>
    <%= flash[:message] %>
  <% end %> -->

  
<!--image view of current image being edited -->
  <div class="field" style="width:300px; height:auto; padding-top:60px">
    <%= image_tag(@art_work.image, style:'width:100%') %>
  </div>
      
  <%= render 'form'%>
  
</div>


