      
<div style="width:300px; height:auto; padding-top:60px">
  <%= image_tag(@art_work.image, style:'width:100%') %>
</div>
    
<%= render 'form'%>

<div class="container">
  <%= button_to 'delete', @art_work, :method => :delete %>
</div>


