 <div class="container">

 <h1> ALL ARTWORKS FOR THAT USER (nested under artwork index)</h1>
 <% @art_works.each do |a| %>
  <%= link_to a.title, art_work_path(a) %>
  <div style="width:300px; height:auto;">
  <%= image_tag(a.image, style:'width:100%') %>
  </div>
<% end %>
</div>